# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tms-lessons\calc-jsp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
